label{
    display:block;
    color:rgb(79, 87, 94);
    margin-bottom:8px;
}
.contentBodyBottom{
    display:flex;
    flex-direction:row;
    align-items:center;
    direction:ltr;
    margin-left:-12px;
    margin-right:-12px;
}
.contentBodyBottom input{
    margin-bottom:24px;
    padding-left:16px;
    padding-right:16px;
    border:1px solid rgb(206, 212, 218);
    border-radius:4px;
    box-sizing:border-box;
    height:40px;
    color:rgb(39, 43, 48);
    width:100%;
}
textarea{
    width:100%;
    border-color:rgb(206, 212, 218);
    border-radius:4px;
    box-sizing:border-box;
    color:rgb(39, 43, 48);
    font-size:14px;
    font-weight:400;
    height:86.5px;
    word-break:break-word;
    padding:16px;
    margin-bottom:24px;
}
.contentBody{
    display:flex;
    flex-direction:row;
}
.addNew{
    background-color:white;
    flex:0.5;
    border-radius:4px;
    padding:24px;
}
.date{
    box-sizing:border-box;
    padding-left:12px;
    padding-right:12px; 
    flex:1;
    color:rgb(39, 43, 48);
    font-size:14px;
}
.cost{
    box-sizing:border-box;
    padding-left:12px;
    padding-right:12px; 
    flex:1;
    color:rgb(39, 43, 48);
    font-size:14px;
}