
.costarea{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top:20px;
    display:flex;
    flex-direction: column;
    width:calc(100% - 30px);
}
.costarea h1{
    box-sizing:border-box;
    border-bottom:1px solid rgb(194, 192, 192);
    padding-bottom:10px;
    font-size:28px;
}
.btn{
    border:0px;
    background-color:rgb(16, 104, 235);
    border-radius:4px;
    cursor:pointer;
    font-size:14px;
    height:40px;
    width:85px;
    color:white;
    float:right;
}
.btn:hover{
    color:white;
    filter:brightness(0.9);
}
.btn1{
    margin-left:20px;
}
.btnNew{
    line-height:27px;
}
.buttonMargin{
    margin-bottom:50px;
}
.anchor { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: 60px; 
    margin-top: -60px
}
span{
    display:block;
    width:auto;
    font-size:14px;
}