.btnsummary{
    border:0px;
    background-color:rgb(16, 104, 235);
    border-radius:4px;
    cursor:pointer;
    font-size:14px;
    height:40px;
    width:85px;
    color:white;
    float:right;
}
.btnsummary:hover{
    color:white;
    filter:brightness(0.9);
}
.btnsave{
    margin-left:20px;
}