label{
    display:block;
    color:rgb(79, 87, 94);
    margin-bottom:8px;
    margin-top:20px;
}

textarea{
    width:100%;
    border-color:rgb(206, 212, 218);
    border-radius:4px;
    box-sizing:border-box;
    color:rgb(39, 43, 48);
    font-size:14px;
    font-weight:400;
    height:86.5px;
    word-break:break-word;
    padding:16px;
}

.contentBody{
    display:flex;
    flex-direction:row;
}
.addNew{
    flex:1;
    background-color:white;
    display:flex;
    flex-direction:column;
    border-radius:4px;
    padding:24px;
    padding-top:12px
}
.addNew input{
    width:100%;
    border:1px solid rgb(206, 212, 218);
    border-radius:4px;
    box-sizing:border-box;
    color:rgb(39, 43, 48);
    font-size:14px;
    font-weight:400;
    height:35px;
    word-break:break-word;
    padding:16px;
}